
<p>
  <strong>Name:</strong>
  <%= @diocese.name %>
</p>

<p>
  <strong>Province:</strong>
  <%= @diocese.province %>
</p>

<%= link_to 'Edit', edit_diocese_path(@diocese) %> |
<%= link_to 'Back', dioceses_path %>
